body {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif,  'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; /* Familia de fuentes */
    font-size: 24px; /* El tamaño de la fuente principal en el tag <p></p> */
    background-color: #a3ab0e50; /* El color del fondo de la página web */
    color: #0000007b; /* El color del texto*/ 
}
h1 {
    color: #00a800; /* El color de la cabecera */
    font-size: 24px; /* El tamaño de la fuente de la cabecera */
    font-family: Georgia, serif; /* La familia tipográfica utilizada en la cabecera */
}
 

